@import "bootstrap/dist/css/bootstrap.min.css";

.conteudo {
    min-height: calc(100vh - 80px);
    display: flex;
}

.full-size-image {
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.header {
    background-color: #2a2a2a;
}

.header nav img {
    width: 70px;
    height: 70px;
}

.header nav a {
    color: #cda45e;
    text-decoration: none;
}

.header nav a:hover {
    color: #ffcc00;
}

.footer {
    position: relative;
    background-color: #2a2a2a;
    color: white;
}

.footer-brand {
    margin-top: 10px;
}
